{% extends 'base.html' %}

{% block title %}Обо мне{% endblock %}

{% block content %}
<div class="row">
    <h1 class="my-4">Немного обо мне</h1>
    <div style="display: flex; justify-content: space-between;">
        <div style="width: 50%;">
            <p>Меня зовут Гарипов Фанис. Я ученик 9Б класса, и это мой проект "Конфигуратор ПК". Мне 15 лет, а еще скоро мне сдавать экзамены. Пожелайте удачи, пожалуйста! Я люблю программировать и в процессе создания своего сайта я смог повторить темы о Flask и пытался писать код на Html (не очень удачно, но пойдет). Внизу этой страницы Вы видите ссылки на мои контакты, а именно ВК и Телеграмм-аккаунт. По всем вопросам туда!</p>
            <p>Спасибо, что обратили внимание на мой сайт!!!</p>
        </div> <div style="width: 50%;">
        <img src="{{ url_for('static', filename='fanisik.jpg') }}" style="max-width: 100%; height: auto; float: right;" />
    </div>
    </div>
</div>
{% endblock %}