{% extends 'base.html' %}

{% block title %}Купить сейчас {{ item.id }} {% endblock %}

{% block content %}
<!-- Модальное окно для ввода данных -->
<h5>{{ item.name }}</h5>
<p>{{ item.description }}</p>
{% if item.id == 1 %} <img src="{{ url_for('static', filename='1.jpg') }}" style="max-width: 200px; height: auto; float: right;" />
          {% elif item.id == 2 %} <img src="{{ url_for('static', filename='2.jpg') }}" style="max-width: 200px; height: auto; float: right;" />
          {% elif item.id == 3 %} <img src="{{ url_for('static', filename='3.jpeg') }}" style="max-width: 200px; height: auto; float: right;" />
          {% elif item.id == 4 %} <img src="{{ url_for('static', filename='4.jpg') }}" style="max-width: 200px; height: auto; float: right;" />
          {% elif item.id == 5 %} <img src="{{ url_for('static', filename='5.jpeg') }}" style="max-width: 200px; height: auto; float: right;" />
          {% elif item.id == 6 %} <img src="{{ url_for('static', filename='6.jpg') }}" style="max-width: 200px; height: auto; float: right;" />
          {% elif item.id == 7 %} <img src="{{ url_for('static', filename='7.jpg') }}" style="max-width: 200px; height: auto; float: right;" />
          {% elif item.id == 8 %} <img src="{{ url_for('static', filename='8.jpg') }}" style="max-width: 200px; height: auto; float: right;" />
          {% elif item.id == 9 %} <img src="{{ url_for('static', filename='9.jpg') }}" style="max-width: 200px; height: auto; float: right;" />
          {% elif item.id == 10 %} <img src="{{ url_for('static', filename='10.jpg') }}" style="max-width: 200px; height: auto; float: right;" />
          {% elif item.id == 11 %} <img src="{{ url_for('static', filename='11.jpg') }}" style="max-width: 200px; height: auto; float: right;" />
          {% elif item.id == 12 %} <img src="{{ url_for('static', filename='12.jpg') }}" style="max-width: 200px; height: auto; float: right;" />
          {% elif item.id == 13 %} <img src="{{ url_for('static', filename='13.jpg') }}" style="max-width: 200px; height: auto; float: right;" />
          {% elif item.id == 14 %} <img src="{{ url_for('static', filename='14.jpg') }}" style="max-width: 200px; height: auto; float: right;" />
          {% elif item.id == 15 %} <img src="{{ url_for('static', filename='15.jpg') }}" style="max-width: 200px; height: auto; float: right;" />
          {% elif item.id == 16 %} <img src="{{ url_for('static', filename='16.jpg') }}" style="max-width: 200px; height: auto; float: right;" />
          {% elif item.id == 17 %} <img src="{{ url_for('static', filename='17.jpg') }}" style="max-width: 200px; height: auto; float: right;" />
          {% elif item.id == 18 %} <img src="{{ url_for('static', filename='18.jpg') }}" style="max-width: 200px; height: auto; float: right;" />
          {% elif item.id == 19 %} <img src="{{ url_for('static', filename='19.png') }}" style="max-width: 200px; height: auto; float: right;" />
          {% elif item.id == 20 %} <img src="{{ url_for('static', filename='20.jpg') }}" style="max-width: 200px; height: auto; float: right;" />
          {% elif item.id == 21 %} <img src="{{ url_for('static', filename='21.jpg') }}" style="max-width: 200px; height: auto; float: right;" />
          {% elif item.id == 22 %} <img src="{{ url_for('static', filename='22.jpg') }}" style="max-width: 200px; height: auto; float: right;" />
          {% elif item.id == 23 %} <img src="{{ url_for('static', filename='23.jpg') }}" style="max-width: 200px; height: auto; float: right;" />
          {% elif item.id == 24 %} <img src="{{ url_for('static', filename='24.png') }}" style="max-width: 200px; height: auto; float: right;" />
          {% elif item.id == 25 %} <img src="{{ url_for('static', filename='25.jpg') }}" style="max-width: 200px; height: auto; float: right;" />
          {% elif item.id == 26 %} <img src="{{ url_for('static', filename='26.png') }}" style="max-width: 200px; height: auto; float: right;" />
          {% elif item.id == 27 %} <img src="{{ url_for('static', filename='27.jpg') }}" style="max-width: 200px; height: auto; float: right;" />
          {% elif item.id == 28 %} <img src="{{ url_for('static', filename='28.jpg') }}" style="max-width: 200px; height: auto; float: right;" />
          {% elif item.id == 29 %} <img src="{{ url_for('static', filename='29.jpg') }}" style="max-width: 200px; height: auto; float: right;" />
          {% elif item.id == 30 %} <img src="{{ url_for('static', filename='30.jpg') }}" style="max-width: 200px; height: auto; float: right;" />
          {% elif item.id == 31 %} <img src="{{ url_for('static', filename='31.jpg') }}" style="max-width: 200px; height: auto; float: right;" />
          {% elif item.id == 32 %} <img src="{{ url_for('static', filename='32.jpg') }}" style="max-width: 200px; height: auto; float: right;" />
          {% elif item.id == 33 %} <img src="{{ url_for('static', filename='33.jpg') }}" style="max-width: 200px; height: auto; float: right;" />
          {% elif item.id == 34 %} <img src="{{ url_for('static', filename='34.jpg') }}" style="max-width: 200px; height: auto; float: right;" />
          {% elif item.id == 35 %} <img src="{{ url_for('static', filename='35.jpg') }}" style="max-width: 200px; height: auto; float: right;" />
          {% elif item.id == 36 %} <img src="{{ url_for('static', filename='36.jpg') }}" style="max-width: 200px; height: auto; float: right;" />
          {% elif item.id == 37 %} <img src="{{ url_for('static', filename='37.jpg') }}" style="max-width: 200px; height: auto; float: right;" />
          {% elif item.id == 38 %} <img src="{{ url_for('static', filename='38.jpg') }}" style="max-width: 200px; height: auto; float: right;" />
          {% elif item.id == 39 %} <img src="{{ url_for('static', filename='39.jpg') }}" style="max-width: 200px; height: auto; float: right;" />
          {% elif item.id == 40 %} <img src="{{ url_for('static', filename='40.jpg') }}" style="max-width: 200px; height: auto; float: right;" />
          {% elif item.id == 41 %} <img src="{{ url_for('static', filename='41.jpg') }}" style="max-width: 200px; height: auto; float: right;" />
          {% elif item.id == 42 %} <img src="{{ url_for('static', filename='42.jpg') }}" style="max-width: 200px; height: auto; float: right;" />
          {% elif item.id == 43 %} <img src="{{ url_for('static', filename='43.jpg') }}" style="max-width: 200px; height: auto; float: right;" />
          {% elif item.id == 44 %} <img src="{{ url_for('static', filename='44.jpg') }}" style="max-width: 200px; height: auto; float: right;" />
          {% elif item.id == 45 %} <img src="{{ url_for('static', filename='45.jpg') }}" style="max-width: 200px; height: auto; float: right;" />
          {% endif %}
<div class="modal-dialog modal-sm" style="float: left;">
        <!-- Форма для ввода данных -->
        <form>
          <div class="mb-3">
            <label for="name" class="form-label">Имя</label>
            <input type="text" class="form-control" id="name">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email">
          </div>
          <div class="mb-3">
            <label for="name" class="form-label">Номер карты</label>
            <input type="number" class="form-control" id="cardnumber" maxlength="16">
          </div>
          <p>К оплате: {{ item.price }} руб.</p>
          <button type="submit" class="btn btn-primary">Подтвердить покупку</button>
        </form>
  </div>
{% endblock %}