{% extends 'base.html' %}

{% block title %}{{ manufacturer.name }} - все производители{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-10 offset-md-4">
      <h1 class="my-4">Все производители - {{ manufacturer.name }}</h1>
      <div class="list-group col-5">
        {% for category in categories %}
          <a href="/{{ manufacturer.name }}/{{ category.name }}" class="list-group-item list-group-item-action">{{ category.name }}</a>
        {% endfor %}
      </div>
    </div>
    {% if manufacturer.id == 1 %} <div class="my-4">Центра́льный проце́ссор (ЦП; также центра́льное проце́ссорное устро́йство — ЦПУ; англ. central processing unit, CPU, дословно — центральное обрабатывающее устройство, часто просто процессор) — электронный блок либо интегральная схема, исполняющая машинные инструкции (код программ), главная часть аппаратного обеспечения компьютера или программируемого логического контроллера. Иногда этот компонент называют просто процессором.

Изначально термин центральное процессорное устройство описывал специализированную систему элементов, предназначенных для понимания и выполнения машинного кода компьютерных программ, а не только фиксированных логических операций. Начало применения термина и его аббревиатуры по отношению к компьютерным системам было положено в 1960-е годы. Устройство, архитектура и реализация процессоров с тех пор неоднократно менялись. В современных вычислительных системах все функции центрального процессора обычно выполняет одна микросхема высокой степени интеграции — микропроцессор[источник не указан 363 дня].

Главными характеристиками ЦПУ являются: тактовая частота, производительность, энергопотребление, нормы литографического процесса, используемого при производстве (для микропроцессоров), и архитектура.</div>
      <li class="nav-item">
                    <a class="btn" href="https://ru.wikipedia.org/wiki/Центральный_процессор">Ссылка на статью из википедии</a>
                </li>
      {% elif manufacturer.id == 2 %} <div class="my-4">Матери́нская (систе́мная) пла́та. В просторечии: «материнка» или печатная плата, являющаяся основой построения модульного электронного устройства, например — компьютера.

Системная плата содержит основную часть устройства, например, в случае компьютера — процессор, системную шину или шины, оперативную память, «встроенные» контроллеры периферийных устройств, сервисную логику — и разъёмы для подключения дополнительных взаимозаменяемых плат, называемых платами расширений, как правило подключённые к общей шине или шинам — так, например, в начале 2000 годов материнская плата IBM PC-совместимого компьютера, как правило, несла разъёмы трёх различных шин — ISA, PCI и AGP. В отличие от объединительной панели/платы, просто соединяющей между собой разъёмы карт расширения, материнская плата всегда несёт на себе активные компоненты или разъёмы для их установки. В англоязычной литературе также принято разделять системные платы на собственно материнские (англ. motherboards), обладающие возможностями расширения и модификации, и «основные платы» (англ. mainboards), таких возможностей не имеющие и представляющие собой законченную неизменяемую систему.</div>
      <li class="nav-item">
                    <a class="btn" href="https://ru.wikipedia.org/wiki/Материнская_плата#:~:text=Материнская%20(систе́мная)%20пла́та%20(англ.%20motherboard%2C,взаимозаменяемые%20платы%2C%20называемые%20платами%20расширений">Ссылка на статью из википедии</a>
                </li>
      {% elif manufacturer.id == 3 %} <div class="my-4">Операти́вная па́мять (англ. Random Access Memory, RAM — память с произвольным доступом) — в большинстве случаев энергозависимая часть системы компьютерной памяти, в которой во время работы компьютера хранится выполняемый машинный код (программы), а также входные, выходные и промежуточные данные, обрабатываемые процессором. Оперативное запоминающее устройство (ОЗУ) — техническое устройство, реализующее функции оперативной памяти. ОЗУ может изготавливаться как отдельный внешний модуль или располагаться на одном кристалле с процессором, например, в однокристальных ЭВМ или однокристальных микроконтроллерах.

Обмен данными между процессором и оперативной памятью производится как непосредственно, так и через сверхбыструю память нулевого уровня либо, при наличии аппаратного кэша процессора, — через кэш.

Содержащиеся в полупроводниковой оперативной памяти данные доступны и сохраняются только тогда, когда на модули памяти подаётся напряжение. Выключение питания оперативной памяти, даже кратковременное, приводит к потере хранимой информации.</div>
      <li class="nav-item">
                    <a class="btn" href="https://ru.wikipedia.org/wiki/Оперативная_память">Ссылка на статью из википедии</a>
                </li>
      {% elif manufacturer.id == 4 %} <div class="my-4">Термоинтерфейс — слой теплопроводящего состава (обычно многокомпонентного) между охлаждаемой поверхностью и отводящим тепло устройством. Наиболее распространенным типом термоинтерфейса являются теплопроводящие пасты (термопасты) и компаунды.

В быту наиболее известны термоинтерфейсы для тепловыделяющих компонентов персональных компьютеров (процессор, видеокарта, оперативная память, дроссели мат. плат и т. п.). Также применяется в электронике для теплоотвода от компонентов силовых цепей и уменьшения градиента температур внутри блоков.</div>
      <li class="nav-item">
                    <a class="btn" href="https://ru.wikipedia.org/wiki/Термоинтерфейс">Ссылка на статью из википедии</a>
                </li>
      {% elif manufacturer.id == 5 %} <div class="my-4">Система охлаждения компьютера — набор средств для отвода тепла (т.е. охлаждения, холодильная установка) от нагревающихся в процессе работы компьютерных компонентов (процессор, чипсет, транзисторы и диоды, и пр.).

Тепло в конечном итоге может утилизироваться:

В атмосферу (радиаторные системы охлаждения):
Пассивное охлаждение (отвод тепла от радиатора осуществляется излучением тепла и естественной конвекцией)
Активное охлаждение (отвод тепла от радиатора осуществляется излучением [радиацией] тепла и принудительной конвекцией [обдув вентиляторами])
Вместе с теплоносителем (системы жидкостного охлаждения)
За счёт фазового перехода теплоносителя (системы открытого испарения)
По способу отвода тепла от нагревающихся элементов системы охлаждения делятся на:

Системы воздушного (аэрогенного) охлаждения;
Системы жидкостного охлаждения;
Фреоновая установка;
Системы открытого испарения - для жидкого азота или жидкого гелия.</div>
      <li class="nav-item">
                    <a class="btn" href="https://ru.wikipedia.org/wiki/Система_охлаждения_компьютера">Ссылка на статью из википедии</a>
                </li>
      {% elif manufacturer.id == 6 %} <div class="my-4">Встроенный источник электропитания компьютера — устройство, предназначенное для преобразования напряжения переменного тока от сети в напряжение постоянного тока с целью питания компьютера или компьютер-сервера.[1]

В некоторой степени блок питания также выполняет функции стабилизации и защиты от незначительных помех питающего напряжения.

Также, как компонент, занимающий значительную часть внутри корпуса компьютера, несёт в своём составе (либо монтируемые на корпусе БП) компоненты охлаждения частей внутри корпуса компьютера.</div>
      <li class="nav-item">
                    <a class="btn" href="https://ru.wikipedia.org/wiki/Блок_питания_компьютера">Ссылка на статью из википедии</a>
                </li>
      {% elif manufacturer.id == 7 %} <div class="my-4">Видеока́рта (также видеоада́птер[1], видеопла́та[2], графический ада́птер[1], графи́ческая пла́та, графи́ческая ка́рта, графи́ческий ускори́тель[3]) — устройство, преобразующее графический образ, хранящийся как содержимое памяти компьютера (или самого адаптера), в форму, пригодную для дальнейшего вывода на экран монитора. Обычно видеокарта выполнена в виде печатной платы (плата расширения) и вставляется в слот расширения материнской платы — универсальный, либо специализированный (AGP[4], PCI Express)[5][6].

Также широко распространены и расположенные на системной плате видеокарты — как в виде дискретного отдельного чипа GPU, так и в качестве составляющей части северного моста чипсета или ЦПУ; в случае ЦПУ, встроенный (интегрированный[7]) GPU, строго говоря, не может быть назван видеокартой.

Видеокарты не ограничиваются простым выводом изображения. Они имеют встроенный графический процессор, который может производить дополнительную обработку, снимая эту задачу с центрального процессора компьютера[8]. Например, видеокарты Nvidia и AMD (ATi) осуществляют рендеринг графического конвейера OpenGL, DirectX и Vulkan на аппаратном уровне[9].</div>
      <li class="nav-item">
                    <a class="btn" href="https://ru.wikipedia.org/wiki/Видеокарта">Ссылка на статью из википедии</a>
                </li>
      {% elif manufacturer.id == 8 %} <div class="my-4">Твердотельный накопитель (англ. Solid-State Drive, SSD) — компьютерное энергонезависимое немеханическое запоминающее устройство на основе микросхем памяти, альтернатива жёстким дискам (HDD). Наиболее распространённый вид твердотельных накопителей использует для хранения данных флеш-память типа NAND, однако существуют варианты, в которых накопитель создаётся на базе DRAM-памяти, снабжённой дополнительным источником питания — аккумулятором[1]. Помимо собственно микросхем памяти, подобный накопитель содержит управляющую микросхему — контроллер.

В настоящее время твердотельные накопители используются как в носимых (ноутбуках, нетбуках, планшетах), так и в стационарных компьютерах для повышения производительности. На 2016 год наиболее производительными выступали SSD формата M.2 с интерфейсом NVMe[2], а к 2022 году их скорость записи/чтения данных достигла 12000 мегабайт в секунду[3].</div>
      <li class="nav-item">
                    <a class="btn" href="https://ru.wikipedia.org/wiki/Твердотельный_накопитель">Ссылка на статью из википедии</a>
                </li>
      {% elif manufacturer.id == 9 %} <div class="my-4">Компьютерный корпус (англ. computer case) — физически представляет собой базовую несущую конструкцию (шасси), которая предназначена для последующего наполнения аппаратным обеспечением с целью создания компьютера.</div>
      <li class="nav-item">
                    <a class="btn" href="https://ru.wikipedia.org/wiki/Компьютерный_корпус">Ссылка на статью из википедии</a>
                </li>
        {% endif %}
  </div>
{% endblock %}