{% extends 'base.html' %}

{% block title %}Обо мне{% endblock %}

{% block content %}
<div class="container">
  <h1>Добавление товара</h1>
  <form method="post">
    <input type="number" class="form-control" name="id" id="id" placeholder="Введите id"><br>
    <input type="text" class="form-control" name="name" id="name" placeholder="Введите название"><br>
    <input type="text" class="form-control" name="description" id="description" placeholder="Введите описание"><br>
    <input type="number" class="form-control" name="price" id="price" placeholder="Введите цену"><br>
    <input type="number" class="form-control" name="quantity" id="quantity" placeholder="Введите количество"><br>
    <input type="number" class="form-control" name="category_id" id="category_id" placeholder="Введите номер компании"><br>
    <button class="btn btn-success" type="submit">Добавить товар</button>
  </form>
</div>
{% endblock %}