{% extends 'base.html' %}

{% block title %}Добро Пожаловать! Список комплектующих{% endblock %}

{% block content %}
<style>
.list-group-item img {
    vertical-align: middle; /* Выравнивание изображений по центру */
    horizontal-align: middle;
}
</style>
<h1 class="my-4" style="color: orange; text-align: center;">Добро Пожаловать на сайт Конфигуратор ПК!</h1>
<p>Наш сайт направлен на помощь людям в сборке их собственных пк. У нас огромный выбор товаров: от Корпусов до дорогих Видеокарт. Помощь заключается в предоставлении услуг сборки компьютеров, продажи отдельных комплектующих и объяснения для чего нужна каждая деталь. В каждой категории есть отрывок из статьи на википедии и ссылка на нее. Надеюсь, Вы найдете то, что Вам по душе.</p>
<h2 class="my-4" style="color: orange; text-align: center;">Все Комплектующие для Вашего будущего компьютера</h2>
<div class="list-group col-5 d-flex flex-row">
    {% for manufacturer in manufacturers %}
    <a href="/{{ manufacturer.name }}" class="list-group-item list-group-item-action rounded-0">
        {% if manufacturer.id == 1 %}<img src="{{ url_for('static', filename='46.svg') }}" class="mr-2">
        {% elif manufacturer.id == 2 %}<img src="{{ url_for('static', filename='47.svg') }}" class="mr-2">
        {% elif manufacturer.id == 3 %}<img src="{{ url_for('static', filename='48.svg') }}" class="mr-2">
        {% elif manufacturer.id == 4 %}<img src="{{ url_for('static', filename='49.svg') }}" class="mr-2">
        {% elif manufacturer.id == 5 %}<img src="{{ url_for('static', filename='50.svg') }}" class="mr-2">
        {% elif manufacturer.id == 6 %}<img src="{{ url_for('static', filename='51.svg') }}" class="mr-2">
        {% elif manufacturer.id == 7 %}<img src="{{ url_for('static', filename='52.svg') }}" class="mr-2">
        {% elif manufacturer.id == 8 %}<img src="{{ url_for('static', filename='53.svg') }}" class="mr-2">
        {% elif manufacturer.id == 9 %}<img src="{{ url_for('static', filename='54.svg') }}" class="mr-2">
        {% endif %}<!-- Добавление изображения -->
        {{manufacturer.name}}
    </a>
    <p></p>
    {% endfor %}
</div>
<div class="row">
    <map name="clickable">
        <area shape="poly" coords="237,434,143,418,140,394,318,349,327,384,370,399,368,357" title="" href="/Видеокарта/">
        <area shape="poly" coords="133,525,129,599,363,599,372,489" title="" href="/Блок%20питания/">
        <area shape="poly" coords="457,678,588,668,578,79,434,11,380,28,394,630,107,628,136,672" title="" href="/Корпус">
        <area shape="poly" coords="254,439,253,486,374,470,369,420" title="" href="/Материнская%20плата">
        <area shape="poly" coords="120,227,119,332,204,343,214,242" title="" href="Охлаждение">
        <area shape="poly" coords="178,188,261,210,364,157,316,114" title="" href="Охлаждение">
        <area shape="poly" coords="273,264,278,317,313,313,312,254" title="" href="Процессор">
        <area shape="poly" coords="319,206,321,331,346,331,361,204" title="" href="Оперативная%20память">
	</map>
	<img usemap="#clickable" src="{{ url_for('static', filename='55.jpg') }}" class="img-fluid mx-auto d-block" style="max-width: 100%; height: auto;">
</div>
{% endblock %}